:root {
    --bcrl_dialog-display-toolbar-height: 2rem;
    --bcrl_dialog-display-z-index: 10;
    --bcrl_dialog-display-box-shadow-blur-radius: 2px;
    --bcrl_dialog-display-button-entry-margin-right: 5px;
    --bcrl_dialog-display-button-entry-padding: 3px;
}

:root {
    --bcrl_dialog-display-background-color: #2d2f34;
    --bcrl_dialog-toolbar-foreground-color: var(--bcrl_primary-foreground-color);
    --bcrl_dialog-toolbar-background-color: #071c57;
}

.bcrl_dialog-display {
    z-index: var(--bcrl_dialog-display-z-index);
    color: var(--bcrl_secondary-foreground-color);
    background-color: var(--bcrl_secondary-background-color);
    box-shadow: 0 0 var(--bcrl_dialog-display-box-shadow-blur-radius) var(--bcrl_primary-box-shadow-color);
}

.bcrl_dialog-display-toolbar {
    height: var(--bcrl_dialog-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bcrl_dialog-toolbar-foreground-color);
    background-color: var(--bcrl_dialog-toolbar-background-color);
}

.bcrl_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.bcrl_dialog-display-button-entry {
    margin-right: var(--bcrl_dialog-display-button-entry-margin-right);
    padding: var(--bcrl_dialog-display-button-entry-padding);
    display: inline-flex;
    height: fit-content;
}

.bcrl_dialog-display-body {
    height: calc(100% - var(--bcrl_dialog-display-toolbar-height));
    overflow: auto;
}

:root {
    /* Sizes */
    --bcrl_dialog-display-toolbar-height: 2rem;
    --bcrl_dialog-display-z-index: 10;
    --bcrl_dialog-display-box-shadow-blur-radius: 2px;
    --bcrl_dialog-display-button-entry-margin-right: 5px;
    --bcrl_dialog-display-button-entry-padding: 3px;
}